.user-card {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  margin-top: 10px;
  margin-bottom: 5px;
}

.AppMain {
  margin-left: 90px;
}

.Ul {
  list-style: none;
}

.InfoName {
  font-size: 22px;
}

.textW {
  font-size: 60px;
}

.App-header{
  margin-left: 93px;
}

.App {
  padding-top: 1px;
}

.class1 {
  color: black;
  background-color: #60dbfc;
}


.class2 { 
  color: white;
  background-color: #0f172a;
 
}

.class3 {

  color: black;
  background-color: white;
  
  
}
.class4 {

  color: white;
  background-color:  #0f172a;
  border-top: 1px solid white; 
  border-bottom: 1px solid white; 

  
}


.button {
  position: absolute;
  top: 700px;
  left: 105px;
  
}


.main-container {
  padding-bottom:65px;
  
}