.header ,button {
  font-size: 20px;
  margin-right: 4px;
  cursor: pointer;
  margin-top: 10px;
}

.mensaje {
  display: inline-block;
  background-color: rgb(176, 67, 67);
  text-align: center;
  font-size: 33px;
  align-items: center;
}

.center {
  text-align: center;
}

.cordinates {
  text-align: center;
  font-size: 25px;
  height: 50%;

}

.full-screen {
  width: 70vw;  /* 100% del ancho de la ventana */
  height: 70vh; /* 100% de la altura de la ventana */
  margin: 0;     /* Elimina el margen por defecto del body */
  overflow: hidden; /* Evita el desplazamiento si el contenido es más grande */
  display: flex; /* Para centrar el contenido si es necesario */
  justify-content: center; /* Para centrar horizontalmente el contenido */
  align-items: center; /* Para centrar verticalmente el contenido */
}