.class1 {
    color: white;
    background-color: #60dbfc;
  }


  .class2 {
    background: #60dbfc; 
    color: white;
    background-color: #0f172a;
  }

  .class3 {
    background: #60dbfc; 
    color: white;
    background-color: white;
    color: black;
  }


 
  